
<%= f.fields_for :guests do |ff| %>
  
  <%= ff.hidden_field :event_id, :value => @event.id %>
  
  <div class="row">
    <div class="form-group col-sm-3">
      <%= ff.text_field :first_name, placeholder: "First Name", class: "form-control" %>
    </div>
    
    <div class="form-group col-sm-3">
      <%= ff.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
    </div>
    
    <div class="form-group col-sm-3">
      <%= ff.text_field :email, placeholder: "Email Address", class: "form-control" %>
    </div>
    
    <div class="form-group col-sm-3">
      <%= ff.text_field :phone, placeholder: "Phone Number", class: "form-control" %>
    </div>
    <hr>
  </div>
<% end %>