<div class="col-sm-10 col-sm-offset-1"><h2>Create a New Invitation Party</h2></div>

  <div class="form-group col-sm-10 col-sm-offset-1 well" id="guests">
    <ul>
      <% if @party.errors.any? %>
          <% @party.errors.each do |attribute, msg| %>
            <li><%= "#{attribute} #{msg}" if @party.errors[attribute].first == msg %>
          <% end %>
        <% end %>
      <%= form_for [@event, @party] do |f| %>
    </ul>

      <%= render :partial => 'guest_fields', :locals => { :f => f } %>
  </div>
    
  <div class="col-sm-8 col-sm-offset-2 pull-right">
    <%= f.submit "Create Party", class: "btn btn-primary pull-right", style: "margin-right: 10%;" %>
    <%= link_to "Back", event_guests_path(@event), class: "btn btn-danger pull-right", style: "margin-right: 5px;" %> 
  </div>
  

<% end %>


