

<div class="col-sm-12">
  <div class="well col-sm-12 event-guest-hdr">
    <h2><%= @event.event_name %> Guests</h2>
    <%= link_to "Add Guest Party", new_event_party_path, class: "btn btn-lg btn-primary" %>
  </div>
  <table class="table table-striped table-hover">
    <tr>
      <th>Guest Name</th>
      <th>Guest Status</th>
      <th>Meal Selection</th>
      <th>Guest Email</th>
      <th>Guest Phone</th>
      <th>Actions</th>
    </tr>
    <% @guests.each do |guest| %>
    <tr>
      <td><%= guest.first_name + " " + guest.last_name %></td>
      <td>
        <label class="switch">
          <!--<input type="checkbox">
          <div class="slider round"></div>-->
            <%= check_box_tag 'status', guest.id, guest.guest_status, 
                              data: { 
                                remote: true, 
                                url: url_for( action: :update_status, id: guest.id ),
                                method: "PATCH"
                              } 
            %>
            <div class="slider round"></div>
        </label>
      </td>
      <td>
        <% if guest.guest_status != true %>
          N/A
        <% else %>
          <%= 'Meal' %>
        <% end %>
      </td>
      <td><%= guest.email %></td>
      <td><%= guest.phone %></td>
      <td><%= link_to 'Delete', event_guest_path(@event, guest), method: :delete, data: { remote: true } %></td>
    </tr>
    <% end %>
  </table>
  