<h2>Home Page</h2>
<% if user_signed_in? %>
  
  <div class="col-sm-8 col-sm-offset-2">
    <h2>My Events</h2>
    <div class="float-right">
    <%= link_to "New Event", new_event_path, class: "btn btn-primary float-right" %></div>
  </div>
  
  <% @events.each do |event| %>
    <div class="col-sm-8 col-sm-offset-2 well">
      <div class="col-sm-8">
        <h2><%= link_to event.event_name, event_path(event.id) %></h2>
        <h3>Event Type: <%= event.event_type %></h3>
        <h3>Guest Count: <%= event.guests.count %></h3>
      </div>
      <div class="col-sm-4">
        <h3>Event Date: <%= event.event_date %></h3>
        <h3>RSVPs Due By: <%= event.event_rsvp_date %></h3>
        <p>Edit | <% link_to "Delete", destroy_events_path(event.id), :method => :delete %></p>
      </div>
    </div>
  <% end %>


<% end %>

