

<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="well">Find your name in the list for <%= @event.event_name %></h2>
    <div class="col-sm-12 guest-search">
      <%= form_for :guests, method: :get do |f| %>
        <div class="input-group">
          <%= label_tag :keywords, nil, class: "sr-only" %>
          <%= text_field_tag :keywords, nil, placeholder: "First Name, Last Name, or Email Address",
                             class: "form-control" %>
           <span class="input-group-btn">
             <%= submit_tag "Search Guests",
                            class: "btn btn-primary" %>
           </span>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="col-sm-6 col-sm-offset-3">
<% if @guests.present? %>
  <%= will_paginate @guests, renderer: BootstrapPagination::Rails %>
  <table class="table table-striped table-hover">
    <tr>
      <th>Guest Name</th>
      <th>Guests In Party</th>
    </tr>
    <% @guests.each do |guest| %>
    <% @party = @event.parties.find(guest.party_id) %>
      <tr>
        <td> <%= link_to guest.full_name, event_party_path(@event,@party) %></td>
        <td> <%= @event.parties.find(guest.party_id).guests.count %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @guests, renderer: BootstrapPagination::Rails %>
<% end %>
</div>
